<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>

<body>
    <div class="container text-center">
        <header class="text-center">
            <h1>Comments</h1>
            <nav>
                <ul class="list-group">
                    <li class="list-group-item"><a href="/">Home</a></li>
                    <li class="list-group-item"><a href="/profile">Profile</a></li>
                    <li class="list-group-item">
                        <form action="/auth/logout" method="post" style="display: inline;"><button
                                class="btn btn-primary" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <form action="/create" method="post">
                <input type="hidden" name="source" id="source" value="index">
                <h2>Create comment</h2>
                <div class="mb-3">
                    <textarea class="form-control" name="content" id="content"
                        placeholder="Write something"><%= oldData && oldData.content ? oldData.content : '' %></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            <% if (errors.length> 0) { %>
                <ul class="list-group">
                    <% errors.forEach(error=> { %>
                        <li class="list-group-item">
                            <%= error %>
                        </li>
                        <%})%>
                </ul>
                <%}%>
                    <h2>Comments</h2>
                    <% if (allComments.length> 0) { %>
                        <ul class="list-group">
                            <% allComments.forEach(comment=> { %>
                                <li class="list-group-item">
                                    <h3>
                                        <%= comment.userId.username %>
                                    </h3>
                                    <p>
                                        <%= comment.content%>
                                    </p>
                                    <p>
                                        <%= comment.createdAt%>
                                    </p>
                                    <button class="btn btn-primary likeButton"
                                        data-comment-id="<%= comment._id %>"></button>
                                    <% if (comment.userId._id.toString()===userData._id.toString()) { %>
                                        <form action="/<%= comment._id %>/edit" style="display:inline;">
                                            <input type="hidden" name="source" id="source" value="index">
                                            <button class="btn btn-primary" type="submit">Edit</button>
                                        </form>
                                        <form action="/delete" method="post" style="display: inline;">
                                            <input type="hidden" name="commentId" id="commentId"
                                                value="<%= comment._id%>">
                                            <input type="hidden" name="source" id="source" value="profile">
                                            <button class="btn btn-primary" type="submit">Delete</button>
                                        </form>
                                        <%}%>
                                </li>
                                <%})%>
                        </ul>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <% if (currentPage> 1) { %>
                                    <li class="page-item">
                                        <a class="page-link" href="/?page=<%= currentPage - 1 %>">Previous</a>
                                    </li>
                                    <%}%>
                                        <span><b>
                                                <%= currentPage %>
                                            </b></span>
                                        -
                                        <span><b>
                                                <%= totalPages %>
                                            </b></span>
                                        <% if (currentPage < totalPages) { %>
                                            <li class="page-item">
                                                <a class="page-link" href="/?page=<%= currentPage + 1 %>">Next</a>
                                            </li>
                                            <%}%>
                            </ul>
                        </nav>
                        <%} else { %>
                            <p>No comments</p>
                            <%}%>
        </main>
        <footer class="text-center text-muted">
            <p>Copyright &copy;2025</p>
        </footer>
    </div>
    <script src="/like.js"></script>
</body>

</html>